{{outlet}}
<style>
   /* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
   margin-bottom: 0;
   border-radius: 0;
   }
   /* Add a gray background color and some padding to the footer */
   footer {
   background-color: #f2f2f2;
   padding: 25px;
   }
   .carousel-inner img {
   width: 100%; /* Set width to 100% */
   margin: auto;
   min-height:200px;
   }
   /* Hide the carousel text when the screen is less than 600 pixels wide */
   @media (max-width: 600px) {
   .carousel-caption {
   display: none;
   }
   }
</style>
<div class= "text-center">
   {{#carousel-container transition-interval=500}}
   {{#carousel-body}}
   {{#carousel-item}}
   <img src="http://placehold.it/150x50?text=IMAGE1" class="img-responsive" style="width:100%" alt="Image">
   {{/carousel-item}}
   {{#carousel-item}}
   <img src="http://placehold.it/150x50?text=IMAGE2" class="img-responsive" style="width:100%" alt="Image">
   {{/carousel-item}}
   {{#carousel-item}}
   <img src="http://placehold.it/150x50?text=IMAGE3" class="img-responsive" style="width:100%" alt="Image">
   {{/carousel-item}}
   {{/carousel-body}}
   {{#carousel-arrow direction="left" tagName="button"}}
   !
   {{/carousel-arrow}}
   {{#carousel-arrow direction="right" tagName="button"}}
   ?
   {{/carousel-arrow}}
   {{/carousel-container}}
</div>
<div class="container text-center">
   <h3>Sign Up!</h3>
   <br>
		{{#email-insert}}
		{{/email-insert}}
		
   <br/><br/>
</div>
<br>
<footer class="container-fluid text-center">
   <div class="row">
   <p>Footer Text</p>
      <div class="col-sm-4 col-sm-offset-8 col-xs-offset-3">
         <div class="row">
            <div class="col-xs-2 col-sm-2">
               <img src="http://placehold.it/50x50?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">	
            </div>
            <div class="col-xs-2 col-sm-2">
               <img src="http://placehold.it/50x50?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">		
            </div>
            <div class="col-xs-2 col-sm-2">
               <img src="http://placehold.it/50x50?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">		
            </div>
            <div class="col-xs-2 col-sm-2">
               <img src="http://placehold.it/50x50?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">		
            </div>
         </div>
      </div>
   </div>
</footer>